<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/autocomplete.js}"></script>
	<title> Homepage </title>
</head>

	<body background="https://wallpapertag.com/wallpaper/full/9/5/9/709857-cool-music-background-images-1920x1080-for-samsung.jpg">
		
		<div class="container">
	
			<br>		
	
			<h4> Search about your favorite song, artist or lyrics</h4>
			
	 		<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

			<a th:href="@{/rebuildLuceneIndex}"
				class="btn btn-primary btn-sm mb-3">
				Rebuild lucene index
			</a>

			<br>
		
			<form autocomplete="off" th:action="@{/results}"  method="post">
				<select class="custom-select" id="strategy" name="strategy">
				    <option value="regular">Regular search</option>
				    <option value="group">Group by artist</option>
				    <option value="semantic">Semantic search</option>
				</select>
				<br><br>
				<div class="autocomplete" style="width:1110px;">
					<input
						id="myInput"
						type="text"
						class="form-control mb-4 col-16"
						placeholder="Default search field is 'lyrics'	For alternative search fields, use 'field:query'	Available fields are 'lyrics', 'artist', 'title'"
						name="query"
					/>
				<div>
			  	<input type="submit" class="btn btn-primary btn-sm mb-3">
			</form>

			<script th:inline="javascript">
			    var historyJs = /*[[${history}]]*/;
				autocomplete(document.getElementById("myInput"), historyJs);
			</script>
	
		</div>
	
	</body>

</html>